@import '@/assets/css/base.css';

.container {
    height: 100dvh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 800px;
    margin: 5rem auto;
}
